.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  height: 50vh;
  width: 40vw;
  min-width: 400px;
  border: 1px solid white; /*TESTING ONLY*/
}

@media only screen and (max-width:600px){
  .App {
    align-items: flex-start;
    margin-top: 50px;
  }

  main {
    width: 90vw;
  }
}
