@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  height: 25vh;
  width: 40vw;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  font-family: Source Sans Pro;
  border: 1px solid white; /*TESTING ONLY*/
}

h1 {
  color: gold;
}

.range__amountDollarSign--style {
  vertical-align: super;
  font-size: large;
}

.range__inputRange--style {
	-webkit-appearance: none;
	height: 7px;
	background: #5b5b5b;
	border-radius: 5px;
	background-image: linear-gradient(#d46a6a, #d46a6a);
	background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #d46a6a;
	cursor: pointer;
	box-shadow: 0 0 2px 0 #555;
}

.range__inputRange--style:hover {
  opacity: 1;
  cursor: pointer;
} 


.range__buyButton--style {
  border-radius: 25px;
  padding: 10px 25px;
  text-transform: uppercase;
  margin-top: 20px;
  background-color: #5b5b5b;
  color: white;
  letter-spacing: .1em;
}

@media only screen and (max-width:600px){
  .App {
    align-items: flex-start;
    margin-top: 50px;
  }

  main {
    width: 90vw;
  }
}

/*
background: linear-gradient(to right, red 10%, purple 90%);
*/